<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/group}"
>
<head>
    <th:block layout:fragment="page_css">
<!--        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">-->
        <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    </th:block>
</head>
<body>
    <th:block layout:fragment="content_body">
        <h3 class="mt-4 mb-4">이벤트</h3>
        <div class="mb-4 text-md-end">
            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#register-modal">신규생성</button>
        </div>
        <div class="card">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                이벤트 목록
            </div>
            <div class="card-body">
                <div id="event-div"></div>
            </div>
            <div id="groupIdContainer" th:data-group-id="${groupId}" style="display: none;"></div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="register-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="register-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="register-modal-label">신규 이벤트 등록</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="register-form">
                        <label for="name" class="form-label">이벤트명</label>
                        <input type="text" id="name" name="name" class="form-control">

                        <label for="datetimepicker1" class="form-label mt-3">오픈일시</label>
                        <input id="datetimepicker1" name="startAt" class="form-control" type="text" placeholder="yyyy-MM-dd HH:mm">

                        <label for="runTime" class="form-label mt-3">소요시간</label>
                        <input id="runTime" class="form-control" type="number">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소하기</button>
                    <button type="button" class="btn btn-primary" onclick="registerEvent()">등록하기</button>
                </div>
            </div>
        </div>
    </div>

        <!-- Modal -->
        <div class="modal fade" id="status-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="register-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="status-modal-label">신규 이벤트 등록</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="status" class="form-label fw-bold">전시상태</label>
                        <select id="status" name="status" class="form-select">
                            <option th:value="PREPARING">준비중</option>
                            <option th:value="CLOSED">종료된전시</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소하기</button>
                        <button id="modify-btn" type="button" class="btn btn-primary">저장하기</button>
                    </div>
                </div>
            </div>
        </div>

    </th:block>

    <th:block layout:fragment="page_js">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>-->
        <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
        <script th:src="@{/js/group/event/list.js}"></script>
    </th:block>
</body>
</html>
