<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <div th:if="${username}">
        <p>안녕하세요, <span th:text="${username}"></span>님!</p>
    </div>
    <div th:unless="${username}">
        <p><a th:href="@{/login/us}">로그인</a></p>
    </div>

    <ul>
        <li><a th:href="@{/api/mypage}">마이페이지</a></li>
        <li><a th:href="@{/event}">이벤트</a></li>
        <li><a th:href="@{/api/system}">관리자</a></li>
    </ul>
</nav>
</body>
</html>
