<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>


<div>
    <form method="POST" action="/join/us">
        <input type="text" name="username" placeholder="id">
        <input type="text" name="password" placeholder="password">
        <input type="text" name="email" placeholder="email">
        <input type="text" name="name" placeholder="홍길동">
        <button>회원가입</button>
    </form>
</div>

</body>
</html>
